::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba($grey_shade1,0.5);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba($grey, 0.2);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba($grey, 0.2);
}

/* Firefox */
input[type=number] {
    appearance: textfield;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'SF Pro Text';
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'SF Pro Text';
    background: $gredient;
}

// -------------------
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }

a, div a:hover, div a:active, div a:focus, button { text-decoration: none; @include transition(all 0.5s ease 0s); }

a, span, div a:hover, div a:active, button { text-decoration: none; }

*::after, *::before, * { -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }

h1, h2, h3, h4 { margin: 0 0 15px; }

body h1:last-child, body h2:last-child, body h3:last-child, body h4:last-child, body h5:last-child, body h6:last-child { margin-bottom: 0; }

img { max-width: 100%; max-height: 100%; width: auto; height: auto; display: block; }

body p:last-child { margin-bottom: 0; }

ul { padding: 0; margin: 0; list-style: none; }

.flex-center {
    display: flex;
    align-items: center;
}

.flexColumn {
    display: flex;
    flex-direction: column
}
.border{
    border-radius: 13px;
    border: 1.3px solid #E6E6E6;
    background: #FFF;
    padding: 18px;
}
// -------------------
// ------------------------- dropdown ---------------------------
.common_dropdown {
    position: relative;
    button {
        background: transparent;
        border-radius: 74px;
        border: 1px solid $grey_shade1;
        padding: 10px 40px 10px 12px;
        min-width: 138px;
        position: relative;
        @include font(600,16px,normal,$grey);
        cursor: pointer;
        text-align: left;
        &::before{
            content: '';
            position: absolute;
            right: 10px;
            top: 0;
            bottom: 0;
            width: 18px;
            height: 18px;
            background: url('../images/arrow_down.svg') no-repeat;
            margin: auto;
        }
    }
    .dropdown_wrap {
        position: absolute;
        width: 100%;
        border: 1px solid $grey_shade1;
        margin-top: 10px;
        border-radius: 10px;
        padding: 10px;
        background: $white;
        z-index: 9;
        li{
            @extend .flex-center;
            padding: 5px 10px;
            border-bottom: 1px solid $grey_shade1;
            @include font(600,14px,normal,$grey);
            cursor: pointer;

            &:first-child{
                padding-top: 0;
            }
            &:last-child{
                padding-bottom: 0;
                border: 0;
            }
            img{
                margin-right: 10px;
                border-radius: 100%;
                width:28px;
                height: 28px;
                object-fit: cover;
            }
        }
    }
}

// -------- table style --------------------------------
.table_wrap{
    overflow-x: auto;
    table{
        min-width: 500px;
        width: 100%;
        th{
            background: $primary_1;
            @include font(700,15px,normal,$grey);
            padding: 16px;
            text-align: center;
            &:first-child{
                text-align: left;
            }
            &:last-child{
                text-align: right;
            }
        }
        td{
            @include font(600,15px,normal,$grey);
            padding: 15px 15px;
            text-align: center;
            border-bottom: 1px solid $grey_shade1;
            &:first-child{
                text-align: left;
                min-width: 220px;
            }
            &:last-child{
                text-align: right;
                min-width: 95px;
            }
            .prof_wrap {
                @extend .flex-center;
                .img {
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;
                }
            }
        }
    }
}

// --------------------- header style -----------------------------------------------
header{
    @extend .flex-center;
    padding: 14px 20px 14px 0;
    border-bottom: 1px solid $grey_shade1;
    background: $white;
    .logo{
        max-width: 230px;
        width: 100%;
        padding: 0 0 0 37px;
    }
    .header_right_info{
        width: calc(100% - 230px);
        @extend .flex-center;
        justify-content: space-between;
        .language_dropdown {
            button {
                display: flex;
                align-items: center;
                min-width: 180px;
                img{
                    margin-right: 10px;
                    border-radius: 100%;
                    width:28px;
                    height: 28px;
                    object-fit: cover;
                    pointer-events: none
                }
            }
        }
        .search_wrap {
            .searchbox {
                position: relative;
                input[type="search"] {
                    width: 278px;
                    border-radius: 74px;
                    border: 1px solid $grey_shade1;
                    height: 50px;
                    padding: 0 15px 0 47px;
                    display: block;
                    outline: none;
                    @include font(500, 16px, normal, rgba($grey, 0.5));
                    &::placeholder{
                        color: rgba($grey, 0.5);
                    }
                }
                .searchIcon_wrap {
                    position: absolute;
                    left: 15px;
                    top: 0;
                    bottom: 0;
                    height: 22px;
                    margin: auto;
                }
            }
        }        
    }
    .account_info_wrap{
        @extend .flex-center;
        gap: 20px;
        .comment_wrap,.notification_wrap {
            button{
                border-radius: 74px;
                border: 1px solid $grey_shade1;
                background: transparent;
                width: 50px;
                height: 50px;
                @extend .flex-center;
                justify-content: center;
                cursor: pointer;
            }
        }
        .profile_wrap{
            button{
                border: 0;
                background: transparent;
                display: block;
                cursor: pointer;
            }
        }
    }
}

// ---------------- Sidebar style
.main_wrapper{
    display: flex;
    min-height: calc(100vh - 80px);
    .sidebar_wrap{
        max-width: 230px;
        width: 100%;
        border-right: 1px solid $grey_shade1;
        background: $white;
        padding: 30px 25px;
        .sidemenu_wrap{
            ul{
                li{
                    margin-bottom: 45px;
                    a{
                        @extend .flex-center;
                        @include font(500,19px,normal,rgba($grey, 0.6));
                        img{
                            margin-right: 8px;
                            filter: invert(0.5);
                        }
                        &.active{
                            color: $primary;
                            img{
                                filter: revert;
                            }
                        }
                    }
                }
            }
        }
    }
    .mainOutlet {
        max-width: calc(100% - 230px);
        width: 100%;
        padding: 30px 25px;
    }
}