.main_dashboard_wrapper{
    .title {
        @include font(700,23px,normal,$grey);
        margin-bottom: 24px;
    }
    .sub_title {
        @include font(700,19px,normal,$grey);
        margin: 0 0 10px;
        b{
            color: $primary;
        }
    }
    .red_text,.green_text {
        @include font(700,16px,normal,$red);
        padding-right: 16px;
        position: relative;
        margin: 0 0 2px 5px;
        &::before{
            content: '';
            position: absolute;
            right: 0;
            top: 3px;
            width: 14px;
            height: 14px;
            background: url('../images/less_rate.svg') no-repeat;
        }
    }
    .green_text{
        color: $green;
        &::before{
            background-image: url('../images/more_rate.svg');
        }
    }
    .box_title,.sh_summ_title {
        @include font(500,16px,normal,rgba($grey,0.6));
        letter-spacing: 0.16px;
        margin-bottom: 7px;
    }

    .title_select_wrap{
        @extend .flex-center;
        justify-content: space-between;
    }

    .dashboard_inquiries_summary_wrap {
        display: grid;
        grid-template-columns: auto 334px;
        gap: 20px;
        .left_summary_wrap {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .sh_inquiry_wrap{
                @extend .border;
                padding: 12px 18px 10px;
                .sub_title{
                    padding-bottom: 18px;
                    margin-bottom: 18px;
                    border-bottom: 1px solid $grey_shade1;
                }
                .sh_box_wrap{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    gap: 30px;
                    .sh_box{
                        position: relative;                        
                        &:not(:last-child){
                            &::before{
                                content: '';
                                position: absolute;
                                right: -14px;
                                top: 0;
                                height: 54px;
                                width: 1.3px;
                                background: $grey_shade1;
                            }
                        }
                        .sh_inquiry_rate {
                            @include font(700,24px,normal,rgba($grey,1));   
                            display: flex;      
                            align-items: flex-end;
                        }
                    }
                }
            }
        }
        .sh_right_summary_wrap{
            display: flex;
            flex-direction: column;
            gap: 20px;
            .sh_revenue_summary_wrap{
                @extend .border;
                .sh_summary_box {
                    border-radius: 10px;
                    border: 1.3px solid $grey_shade1;
                    background: $grey_shade2;
                    padding: 15px 18px;
                    margin: 0 0 13px;
                    p.sh_sum_rate {
                        @include font(700,20px,normal,$grey);
                    }
                    &:last-child{
                        margin: 0;
                    }
                }
            }
        }
    }
    .sh_dashboar_table_wrap {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        margin-top: 30px;
        .sh_summary_table_wrap {
            width: calc(50% - 10px);
            @extend .border;
            .sub_title{
                margin-bottom: 20px;
            }            
        }
    }
    .sh_revenue_chart_wrap,.sh_container_tracking_wrap{
        @extend .border;
    }
    .sh_container_tracking_wrap{
        .common_dropdown{
            & > span{
                @include font(500,15px,normal,rgba($grey, 0.6));
                margin-right: 11px;
            }
            .dropdown_wrap{
                max-width: 140px;
                right: 0;
            }
        }
        .chart_info_wrap{
            display: flex;
            gap: 30px;
            margin-top: 18px;
            .map_info_wrap {
                margin-left: auto;
                max-width: 243px;
                width: 100%;
                overflow-y: auto;
                &::-webkit-scrollbar{
                    display: none;
                }
                ul{
                    max-height: 319px;
                    li{
                        margin-bottom: 8px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        .map_info {
                            border-radius: 10px;
                            border: 1.3px solid $grey_shade1;
                            background: $white;
                            padding: 10px 12px;
                            .status{
                                display: block;
                                @include font(600,14px,normal,$primary);
                                letter-spacing: 0.14px;
                                padding-left: 13px;
                                position: relative;
                                &::before{
                                    content: '';
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    width: 6px;
                                    height: 6px;
                                    border-radius: 100%;
                                    background: $primary;
                                    bottom: 0;
                                    margin: auto;
                                }
                                &.delivered{
                                    color: $green;
                                    &::before{
                                        background-color: $green;
                                    }
                                }
                                &.stuck{
                                    color: $red;
                                    &::before{
                                        background-color: $red;
                                    }
                                }
                            }
                            .name{
                                @include font(700,16px,normal,$grey);
                                letter-spacing: 0.16px;
                                margin: 10px 0 6px;
                            }
                            .location{
                                @include font(600,13px,normal,rgba($grey,0.6));
                                padding-left: 22px;
                                position: relative;
                                &::before{
                                    content: '';
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    width: 17px;
                                    height: 17px;
                                    background: url('../images/port.svg') no-repeat;
                                    filter: invert(0.7);
                                }
                            }
                        }
                        &.active{
                            .map_info{
                                border-color: $primary;
                                .name{
                                    color: $primary;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}