@mixin font($fontWeight: null, $fontSize: null, $lineHeight: null, $color: null) {
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
}

@mixin appearance($property) {
    -webkit-appearance: $property;
    -moz-appearance: $property;
    -o-appearance: $property;
    appearance: $property;
}

@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    -o-transform: $property;
    transform: $property;
}

@mixin transition($property) {
    -webkit-transition: $property;
    -moz-transition: $property;
    -ms-transition: $property;
    -o-transition: $property;
    transition: $property;
}

@mixin boxShadow($property) {
    -webkit-box-shadow: $property;
    -moz-box-shadow: $property;
    -ms-box-shadow: $property;
    -o-box-shadow: $property;
    box-shadow: $property;
}

@mixin lineClamp($property) {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: $property;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

@mixin gridColumns($val: null, $gap: null) {
    display: grid;
    grid-template-columns: $val;
    gap: $gap;
}

// @mixin input {
//     border: 1.5px solid $primary_3;
//     border-radius: 10px;
//     height: 50px;
//     padding: 0 18px;
//     width: 100%;
//     background: $white;
//     display: block;
//     outline: none;
//     @include font(600, 16px, 20px, $primary_1);

//     &::placeholder {
//         color: $primary_2;
//     }

//     &:focus,
//     &.valuefocus {
//         border-color: $primary_1;
//         color: $primary_1;
//     }

//     &.errorInput {
//         border-color: $error;
//         color: $error;
//     }
//     &:disabled{
//         border-color: $primary_3;
//         color: $primary_3;
//     }
// }

// @mixin link {
//     @include font(500, 16px, 20px, $primary_2);
//     @include transition(all 0.5s ease);

//     &:hover {
//         color: $link;
//     }
// }
