$primary: #F68E2D;
$primary_1: #FFF0E1;
$grey: #524B45;
$grey_shade1: #E6E6E6;
$grey_shade2: #F9F9F9;
$white: #ffffff;
$green: #58D12D;
$red: #E73636;
$gredient: linear-gradient(0deg, #FFF 0%, #FFF 100%), #F6F6F6;